[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Cult Cinema Classics
Exec=mycroft-gui-app --hideTextInput --skill=skill-ccc.jarbasskills.home
Icon=ccc_icon
Categories=VoiceApp
StartupNotify=false
