[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Kings of Horror
Exec=mycroft-gui-app --hideTextInput --skill=skill-kings-of-horror.jarbasskills.home
Icon=kings_of_horror_icon
Categories=VoiceApp
StartupNotify=false
